h1 { text-align:center; }
.matale {text-align: center;margin-bottom: 0px;}
.euro {font-size: 20px; text-align: center;margin-top: 0px;margin-bottom: 0px; display: flex;justify-content: center;position: relative;}
.EEE {top: 100px;left: 120px;display:flex;gap:22px;justify-content: center;z-index: 10;}
.EEE mark {background-color: white;}
.audiobuc {text-align: center;margin-top: 0px;display: flex; flex-direction: column;align-items: center;}
body {background-color: rgba(255, 170, 42, 0.37);filter:sepia(70%);filter: contrast(80%);}
.audiobuc button {padding: 42px;border-radius: 290%;cursor: pointer;}
